<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">Online Education</a>
                </div>

                <div class="collapse navbar-collapse pull-right" id="js-navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a ng-href="#/movies">Movies</a></li>
                        <li><a ng-href="#/about">About</a></li>
                        <li><a ng-href="#/">Contact</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron container">
        <% for(var i in messages) { %>
        <div class="flash"><%= messages[i] %></div>
        <% } %>
        <h3 class="text-center">Log in</h3>
        <form action="/signin" method="post">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required />
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" placeholder="password" required/>
            </div>
            <button type="sumbit" class="btn btn-default pull-right">Sign in</button>
        </form>
    </div>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
